/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f8fa;
    line-height: 1.5;
}

/* Header */

header {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
}

header h1 {
    display: inline;
}

header h1,
header img {
    vertical-align: middle;
}

/* Main Container */

#main-container {
    width: 80%;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 50px;
}

/* Buttons */

.btn-default {
    border: 2px solid #f1f1f1;
    color: #8f8f8f;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Sections */

#top-buttons,
section {
    margin-bottom: 30px;
}

/*Stile specifico per il simbolo arrow*/
section span {
    font-size: 15px;
    cursor: pointer;
}

section h3 {
    margin-bottom: 10px;
}

/* Checkboxes */

.check-default {
    margin-bottom: 20px;
}

/* Tags */

.box-tag {
    border: 1px solid #cccccc;
    color: white;
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 10px;
}

/* Color Classes */

.blue {
    background-color: #44aaf0;
    color: white;
}

.purple {
    background-color: #9970e0;
}

.green {
    background-color: #68c2aa;
}

.lime {
    background-color: #acc52b;
}

.rose {
    background-color: #db5096;
}

.orange {
    background-color: #eea12e;
}